:host {
  display: block;
  height: 100vh;
  width: 100%;
}

.page-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;

  background-image: url('https://knowledgeone.ca/wp-content/uploads/2022/05/learner-online.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-header {
  width: 100%;
}

.logo {
  font-style: italic;
  color: red;
  font-size: 2em;
  font-weight: bold;
}

.content-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
  color: white;
}

.title {
  color: lightgreen;
  font-size: 3em;
  margin-bottom: 20px;
}

.description {
  max-width: 800px;
  font-size: 1.2em;
  line-height: 1.6;
}
