form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 50px auto;
  gap: 10px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  border-radius: 4px;
  background-color: darkgreen;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: green;
}
