form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 8px;
  margin-bottom: 20px;
}

input {
  padding: 8px;
}

table {
  width: 100%;
  margin-top: 20px;
}

button {
  padding: 8px;
  cursor: pointer;
}
